In [352]:
import pandas as pd
import numpy as np
import re

In [353]:
nominees = pd.read_csv("oscars.csv", encoding='latin1')

In [354]:
nominees.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
0,670454353,False,finalized,3,2/10/15 3:45,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,Two Arabian Knights,Lewis Milestone,NaN,NaN,NaN,NaN
1,670454354,False,finalized,3,2/10/15 2:03,"Glasgow, Scotland",1.0,2-Feb-1886,1.0,White,...,Best Director,http://www.nndb.com/people/626/000042500/,NaN,NaN,The Divine Lady,Frank Lloyd,NaN,NaN,NaN,NaN
2,670454355,False,finalized,3,2/10/15 2:05,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,All Quiet on the Western Front,Lewis Milestone,NaN,NaN,NaN,NaN
3,670454356,False,finalized,3,2/10/15 2:04,"Chicago, Il",1.0,23-Feb-1899,1.0,White,...,Best Director,http://www.nndb.com/people/544/000041421/,NaN,NaN,Skippy,Norman Taurog,NaN,NaN,NaN,NaN
4,670454357,False,finalized,3,2/10/15 1:48,"Salt Lake City, Ut",1.0,23-Apr-1894,1.0,White,...,Best Director,http://www.nndb.com/people/292/000044160/,NaN,NaN,Bad Girl,Frank Borzage,NaN,NaN,NaN,NaN

In [355]:
nominees.shape

(441, 27)

In [356]:
birthPlaces = list(nominees["birthplace"])
for i in range(len(birthPlaces)):
    birthPlaces[i] = re.findall(r'\s?([\w\s]+)$', birthPlaces[i])
print(birthPlaces)

[['Moldova'], ['Scotland'], ['Moldova'], ['Il'], ['Ut'], ['Scotland'], ['Italy'], ['Me'], ['Italy'], ['Ca'], ['Italy'], ['Ca'], ['Me'], ['Me'], ['France'], ['Hungary'], ['Ca'], ['New York City'], ['Austria'], ['France'], ['Turkey'], ['Mo'], ['Pa'], ['Pa'], ['Ca'], ['Me'], ['Austria'], ['Turkey'], ['Ks'], ['Ca'], ['England'], ['Il'], ['France'], ['Austria'], ['In'], ['England'], ['England'], ['New York City'], ['In'], ['Austria'], ['Germany'], ['Mn'], ['England'], ['England'], ['Japan'], ['Il'], ['Il'], ['Mn'], ['Mi'], ['Czechoslovakia'], ['Il'], ['Ny'], ['New York City'], ['Tx'], ['Ca'], ['Va'], ['England'], ['Nj'], ['Czechoslovakia'], ['In'], ['New York City'], ['Italy'], ['Md'], ['New York City'], ['Ca'], ['Ny'], ['Ca'], ['Oh'], ['Il'], ['Ny'], ['England'], ['Canada'], ['Oh'], ['England'], ['Ga'], ['Ok'], ['France'], ['New Zealand'], ['Ca'], ['Taiwan'], ['Ny'], ['Mn'], ['England'], ['Ca'], ['England'], ['France'], ['Taiwan'], ['Switzerland'], ['Oh'], ['England'], ['Pa'], ['Mo'], ['England'], ['Oh'], ['England'], ['Ukraine'], ['Wi'], ['Wi'], ['England'], ['Pa'], ['Mt'], ['Ny'], ['Hungary'], ['Wa'], ['Wales'], ['Wi'], ['England'], ['England'], ['Pa'], ['Puerto Rico'], ['New York City'], ['Mt'], ['Il'], ['Ne'], ['Ct'], ['Russia'], ['England'], ['England'], ['Il'], ['New York City'], ['Austria'], ['Ca'], ['Fl'], ['England'], ['New York City'], ['England'], ['Ny'], ['Ca'], ['Ia'], ['Va'], ['Ca'], ['Ne'], ['Ma'], ['Ny'], ['New York City'], ['England'], ['Ny'], ['Ny'], ['Ca'], ['New York City'], ['Ne'], ['England'], ['Ca'], ['Pa'], ['Dc'], ['Oh'], ['Nj'], ['Ca'], ['England'], ['England'], ['Wales'], ['New York City'], ['Ca'], ['Ca'], ['Ca'], ['Australia'], ['New York City'], ['Italy'], ['Nj'], ['New Zealand'], ['Ny'], ['New York City'], ['Ca'], ['Tx'], ['Ny'], ['Tx'], ['England'], ['Ca'], ['Ca'], ['England'], ['France'], ['England'], ['Tx'], ['Ma'], ['Austria'], ['Ma'], ['Nj'], ['Ma'], ['England'], ['Ok'], ['Ga'], ['Ireland'], ['New York City'], ['Canada'], ['Wales'], ['Canada'], ['Oh'], ['Russia'], ['Il'], ['Mexico'], ['Nj'], ['New York City'], ['Ma'], ['Mexico'], ['New York City'], ['Il'], ['Wales'], ['England'], ['Oh'], ['Ct'], ['Ga'], ['England'], ['Ny'], ['New York City'], ['New York City'], ['Ma'], ['Mn'], ['England'], ['Ok'], ['Oh'], ['Romania'], ['New York City'], ['New York City'], ['Il'], ['Il'], ['Ny'], ['Ga'], ['Ca'], ['England'], ['Ny'], ['New York City'], ['Cambodia'], ['Wi'], ['England'], ['Scotland'], ['Mo'], ['Ny'], ['Nj'], ['Pa'], ['Ca'], ['Tx'], ['Ny'], ['Nj'], ['Ny'], ['Il'], ['Ne'], ['England'], ['Puerto Rico'], ['England'], ['Mo'], ['Ca'], ['Tn'], ['Ky'], ['Ny'], ['Canary Islands'], ['Australia'], ['Na'], ['Wales'], ['Canada'], ['Na'], ['La'], ['Pa'], ['Canada'], ['Canada'], ['Canada'], ['Dc'], ['Ct'], ['France'], ['Ma'], ['Germany'], ['Germany'], ['Ma'], ['India'], ['Mo'], ['Japan'], ['England'], ['Ok'], ['Sweden'], ['Tx'], ['Japan'], ['Ut'], ['Mo'], ['Japan'], ['New York City'], ['India'], ['New York City'], ['Belgium'], ['Pa'], ['Italy'], ['Sweden'], ['Ga'], ['Ny'], ['Germany'], ['England'], ['Italy'], ['Ny'], ['Ky'], ['England'], ['India'], ['England'], ['Ct'], ['Ny'], ['Ct'], ['England'], ['England'], ['New York City'], ['Ca'], ['England'], ['Mi'], ['Al'], ['Fl'], ['Ca'], ['New York City'], ['Ca'], ['Tx'], ['Ct'], ['Nj'], ['Va'], ['Ca'], ['Mo'], ['Il'], ['Ca'], ['Ca'], ['England'], ['Tn'], ['Ca'], ['England'], ['Ga'], ['Mn'], ['Ny'], ['Il'], ['Ca'], ['Ca'], ['Ne'], ['Ga'], ['Oh'], ['Hi'], ['South Africa'], ['Ne'], ['La'], ['England'], ['France'], ['England'], ['Va'], ['Israel'], ['Nj'], ['Ky'], ['Australia'], ['Mn'], ['New York City'], ['Ca'], ['Ks'], ['Mo'], ['Il'], ['New York City'], ['Greece'], ['Pa'], ['New York City'], ['In'], ['New York City'], ['New York City'], ['Il'], ['Ma'], ['Mi'], ['Ca'], ['Ia'], ['Nj'], ['Ca'], ['Il'], ['Japan'], ['England'], ['Mo'], ['Pa'], ['Puerto Rico'], ['Ny'], ['England'], ['Russia'], ['Mo'], ['Ne'], ['Ma'], ['Ma'], ['Md'], ['Dc'], ['Ia'], ['Oh'], ['Ca'], ['Sweden'], ['New York City'], ['Ny'], ['England'], ['England'], ['Nj'], ['Ar'], ['Ny'], ['Mn'], ['Nj'], ['England'], ['Ca'], ['Mo'], ['Ma'], ['Ma'], ['Ireland'], ['New York City'], ['Ny'], ['Ny'], ['Canada'], ['Mo'], ['Nj'], ['France'], ['Ga'], ['England'], ['Ca'], ['Ca'], ['Ny'], ['Wales'], ['Tx'], ['Australia'], ['England'], ['Il'], ['England'], ['Spain'], ['Md'], ['New York City'], ['Al'], ['Ny'], ['Mexico'], ['Austria'], ['Mo'], ['Ca'], ['New York City'], ['Il'], ['Ca'], ['New York City'], ['New York City'], ['Fl'], ['Ok'], ['Ga'], ['Mt'], ['England'], ['Ne'], ['Ne'], ['Ca'], ['Ma'], ['Md'], ['Ca'], ['England'], ['England'], ['England'], ['Il'], ['Ne'], ['Mo']]

In [357]:
for i in range(len(birthPlaces)):
    if (len(birthPlaces[i][0]) <= 2) | (birthPlaces[i][0] == "New York City"):
        nominees.loc[[i], "birthplace"] = "USA"
    else:
        nominees.loc[[i], "birthplace"] = birthPlaces[i]
    #nominees = nominees.replace(nominees["birthplace"][i], birthPlaces[i][0])

In [358]:
nominees.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
0,670454353,False,finalized,3,2/10/15 3:45,Moldova,1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,Two Arabian Knights,Lewis Milestone,NaN,NaN,NaN,NaN
1,670454354,False,finalized,3,2/10/15 2:03,Scotland,1.0,2-Feb-1886,1.0,White,...,Best Director,http://www.nndb.com/people/626/000042500/,NaN,NaN,The Divine Lady,Frank Lloyd,NaN,NaN,NaN,NaN
2,670454355,False,finalized,3,2/10/15 2:05,Moldova,1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,All Quiet on the Western Front,Lewis Milestone,NaN,NaN,NaN,NaN
3,670454356,False,finalized,3,2/10/15 2:04,USA,1.0,23-Feb-1899,1.0,White,...,Best Director,http://www.nndb.com/people/544/000041421/,NaN,NaN,Skippy,Norman Taurog,NaN,NaN,NaN,NaN
4,670454357,False,finalized,3,2/10/15 1:48,USA,1.0,23-Apr-1894,1.0,White,...,Best Director,http://www.nndb.com/people/292/000044160/,NaN,NaN,Bad Girl,Frank Borzage,NaN,NaN,NaN,NaN

In [359]:
# nonUS = nominees["birthplace"]
# nonUS = list(dict.fromkeys(nonUS)) #remove duplication
# for i in range(len(nonUS)):
#     if (nonUSA):
#         nonUS.pop(i)
# nonUS = list(nonUS)
# nonUS

In [368]:
birthPlaces = nominees["birthplace"]
print(birthPlaces)

0       Moldova
1      Scotland
2       Moldova
3           USA
4           USA
         ...
436     England
437     England
438         USA
439         USA
440         USA
Name: birthplace, Length: 441, dtype: object

In [367]:
baris_sebelum = nominees.shape[0]
print("Jumlah nominee sebelumnya adalah {}.".format(baris_sebelum))

for i in range(len(birthPlaces)):
    if (nominees["birthplace"] == "USA"):
        nominees = nominees.drop(i)
# nominees = nominees.loc[nominees["birthplace"].isin(nonUS)]

baris_sesudah = nominees.shape[0]
print("Jumlah nominee setelah seleksi {}.".format(baris_sesudah))

print("{} nominee yang dihapus!".format(baris_sebelum-baris_sesudah))

Jumlah nominee sebelumnya adalah 441.

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [186]:
nominees.head()

0    True
1    True
2    True
5    True
6    True
Name: birthplace, dtype: bool